[submodule "lib/cJSON"]
	path = lib/cJSON
	url = https://github.com/DaveGamble/cJSON.git
[submodule "lib/curl"]
	path = lib/curl
	url = https://github.com/curl/curl.git
	branch = tiny-curl-8_2
[submodule "res/profanity-words"]
	path = res/profanity-words
	url = https://github.com/coffee-and-fun/google-profanity-words.git
